#about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about-me p{
  font-size: 2rem;
  color: white;
}
@media screen and (min-width: 768px) {
  #about-me h1{
    font-size: 3.6rem;
  }
  #about-me p{
    font-size: 2.4rem;
  }
}