.project--figure {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  height: 400px;
  padding: 1rem;
}
.project--figure img{
  display: block;
  height: 300px;
  object-fit: cover;
}
.project--figure figcaption{
 display: flex;
 justify-content: center;
 margin:1rem ;
}

#project p {

 margin: 1rem 0;
}
